* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-style: none;
}

.calculator {
  height: 100%;
  width: 100%;
}

.output {
  width: 100%;
  height: 15%;
  text-align: end;
  font-size: 22px;
  background-color: rgb(128, 128, 128);
  color: white;
  padding: 15px;
}

.buttons {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
  height: 85%;
}

button {
  cursor: pointer;
  background-color: rgb(237, 237, 237);
  border: 0.1px solid gray;
  transition: all 0.1s;
}

button:hover {
  filter: brightness(0.8);
}

.right_column {
  background-color: rgb(255 157 0);
}

.bt_0 {
  grid-area: 5 / 1 / span 1 / span 2;
}
